.filterdropitem {
  display: inline-block;
}
.filterdrop {
  position: relative;
  display: inline-block;
}
.filtertitle {
  cursor: pointer;
  color: #30404f;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  padding: 4px 0px;
  font-size: 14px;
  word-break: keep-all;
}
.splitdash {
  margin-left: 5px;
  color: #d4dfe5;
}

.poperwraper {
  position: absolute;
  margin-left: 0;
  z-index: 15;
  padding-top: 0px;
  min-width: 96px;
  transform: translateX(0) !important;
  left: 0 !important;
}
.poper {
  width: auto;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(6, 46, 95, 0.3);
  min-height: 30px;
  max-height: unset !important;
  overflow-y: scroll;
  padding: 0 !important;
  border-radius: 4px !important;
}
.filterscrollbox {
  max-height: 200px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.itembox {
  max-height: 400px;
  min-width: 100px;
}
.filteritem {
  display: block;
  text-indent: 10px;
  line-height: 28px;
  padding-right: 20px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.filteritem:hover {
  background-color: #e6fffb;
}
.selected {
  color: @primary-color;
  background: #fff;
}
.selected i {
  position: absolute;
  right: 0px;
  font-size: 18px;
  line-height: 28px;
}
